/* Common styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Vollkorn', serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

:root {
   --primary-color: #559ef1;
   --secondary-color: #eee;
   --white-color: #fff;
   --grey-color: #555;
   --light-grey-color: #777;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    overflow: hidden;
}

/* Header */

.header {
    width: 100%;
    height: calc(100vh - 7rem);
    background: linear-gradient(rgba(18, 113, 255, .5), rgba(18, 113, 255, .3)), url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 .2rem .2rem var(--grey-color);
}

.heading {
    font-size: 8rem;
    color: var(--white-color);
}

.header-paragraph{
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}

.logo {
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1 {
    display: flex;
}

.logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.logo h1 span:nth-child(1){
    animation: drop-letters 5s .1s infinite;
}

.logo h1 span:nth-child(2){
    animation: drop-letters 5s .2s infinite;
}

.logo h1 span:nth-child(3){
    animation: drop-letters 5s .3s infinite;
}

.logo h1 span:nth-child(4){
    animation: drop-letters 5s .4s infinite;
}

.logo h1 span:nth-child(5){
    animation: drop-letters 5s .5s infinite;
}

.logo h1 span:nth-child(6){
    animation: drop-letters 5s .6s infinite;
}

.logo h1 span:nth-child(7){
    animation: drop-letters 5s .7s infinite;
}

@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-50%);
    }

    20% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.header-image {
    width: 35%;
    animation: image-float 150s infinite;
}

@keyframes image-float {
    0% {
        transform: translateZ(40rem);
        opacity: 1;
    }

    40% {
        transform: translateZ(-500rem) translateX(150rem);
        opacity: .8;
    }

    70% {
        transform: translateZ(-1500rem) translateX(800rem);
        opacity: .6; 
    }

    80% {
        transform: translateZ(-50rem) translateX(100rem);
        opacity: .8; 
    }

    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }
}

/* Popular tours */

.popular-tours {
    padding: 10rem 0 15rem 0;
}

.popular-tours-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 10rem;
    color: var(--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.card-image {
    width: 100%;
    border-radius: .3rem .3rem 0 0;
}

.front-side {
    text-align: center;
    background-color: var(--white-color);
    border: .1rem solid var(--primary-color);
    border-radius: .3rem;
    position: relative;
    z-index: 10;
    opacity: .9;
    transition: opacity .4s, transform .4s, box-shadow .4s;
}


.tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 2.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
}

.card-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
}

.card-list-item {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--grey-color);
    margin: 2rem 0;
    text-transform: uppercase;
    border-bottom: .1rem dashed var(--primary-color);
    padding-bottom: 1.5rem;
}

.tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.card-button {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: .2rem;
    border-radius: 5rem;
    cursor: pointer;
}

.navigation-button {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, .8);
    color: var(--light-grey-color);
    border-radius: .3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
}

/* Stories */

.stories {
    padding: 10rem 0;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-bg {
    background-color: rgba(238, 238, 238, .85);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, .4);
    transform: skewX(20deg);
}

.story {
    transform: skewX(-20deg);
    display: flex;
}

.story-image {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}

.story-text {
    letter-spacing: .1rem;
}

.story-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--grey-color);
    margin-bottom: 1rem;
}

.story-paragraph {
    font-size: 1.8rem; 
    color: var(--light-grey-color);
}

.story-paragraph::first-letter {
    margin-left: 1rem;
}

/* Contacts */

.contact {
    padding: 10rem 0 10rem 0;
    text-align: center;

}

.contact-heading {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--primary-color);
}

.contact-form {
    width: 70rem;
    height: 50rem;
    margin: auto;
    flex-direction: column;
    padding: 5rem;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.input-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 3rem 1rem 1rem;
    border: .1rem solid var(--light-grey-color);
    font-size: 1.4rem;
    color: var(--light-grey-color);
    letter-spacing: .1rem;
    border-radius: .5rem;
    transition: border .3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border: .1rem solid #ccc;
}

.input-group label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--grey-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .4s;
}

.form-btn:hover {
    background-color: var(--light-grey-color);
}

.input-group textarea {
    max-height: 15rem;
    max-width: 100%;
}

/* Footer */

.footer {
    background-color: var(--light-grey-color);
    padding: 4rem 0 2rem 0;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-link {
    font-size: 1.5rem;
    color: var(--white-color);
    margin: 0 2rem;
    text-transform: uppercase;
    padding: .5rem 3rem;
    letter-spacing: .3rem;
    background-color: var(--light-grey-color);
    transition: all .3s;
    border-radius: .5rem;
}

.footer-link:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 2rem 3rem #000;
}